{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block titulo %} {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<style>
  
  body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #3498db, #9ae73c); /* Colores degradados */
      z-index: -1; /* Colocar detrás del contenido */
  }
</style>

<body>
    <nav class="navbar navbar-expand navbar-light bg-dark " >
        <div class="nav navbar-nav" >
            <a class="nav-item nav-link font-weight-bold text-white" href="{% url 'Inicio'%}">INICIO</a>
            <a class="nav-item nav-link font-weight-bold text-white" href="{% url 'ListarCT' %}">CATEGORIA</a>
            <a class="nav-item nav-link font-weight-bold text-white" href="{% url 'ListarSTOCK' %}">STOCK</a>
            <a class="nav-item nav-link font-weight-bold text-white" href="{% url 'ListarVenta' %}">SALIDA</a>
            <a class="nav-item nav-link font-weight-bold text-white" href="{% url 'index' %}">CERRAR SESIÓN</a>

        </div>
    </nav>
    <div class="container">
        <div class="row">
          <div class="col-12">
            {% block contenido %} {% endblock %}
          </div>
        </div>
      </div>

  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>