{% extends "base1.html" %}
{% load static %}
{% block titulo %} Crear Tipo {% endblock %}

{% block contenido %}
<div class="alert alert-primary" role="alert">
  <strong>CONTROL DE STOCK MACRO TEC</strong> 
</div>

<br>

<div class="d-flex justify-content-center align-items-center">
  <div>
    <h2 style="color: rgb(243, 138, 39);">MACRO TEC</h2>
    <table>
      <p style="color: aliceblue;"> 
        <b style="color: rgb(7, 74, 20);">Eficiencia:</b> Mantén un control de stock eficiente para optimizar tus operaciones diarias. <br>

        <b style="color: rgb(7, 74, 20);">Precisión:</b> La gestión precisa del inventario te permite tomar decisiones informadas.<br>
        
        <b style="color: rgb(7, 74, 20);">Rentabilidad:</b> Un control de stock adecuado contribuye a una mayor rentabilidad.<br>
        
        <b style="color: rgb(7, 74, 20);">Seguridad:</b> Cuida tus recursos con un control de stock seguro y confiable.<br>
        
        <b style="color: rgb(7, 74, 20);">Organización:</b> Mantén tus productos organizados y disponibles cuando los necesites.<br>
        
        <b style="color: rgb(7, 74, 20);">Fluidez:</b> Un control de stock fluido garantiza una cadena de suministro sin interrupciones.<br>
        
        <b style="color: rgb(7, 74, 20);">Prevención:</b> Evita pérdidas innecesarias con una gestión preventiva del inventario.<br>
        
        <b style="color: rgb(7, 74, 20);">Optimización:</b> Optimiza tus recursos con un control de stock bien planificado.<br>
        
        <b style="color: rgb(7, 74, 20);">Agilidad:</b> Responde rápidamente a las demandas del mercado con una gestión ágil del stock.
      </p>
    </table>

  </div>
  <img src="{% static 'fondo1.jpg' %}" class="card-img-top" alt="Imagen" >
</div>
{% endblock %}
