{% extends "base1.html" %}

{% block titulo %} Lista de Categorias {% endblock %}

{% block contenido %}
<br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'AgregarCT' %}" role="button">AGREGAR PRODUTO</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Producto</th>
                    <th style="text-align: right;">Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Producto in productos %}
                <tr>
                    <td>{{Producto.N_producto}}</td>
                    <td style="text-align: right;"><a name="" id="" class="btn btn-info" href="{% url 'EditarCT' Producto.N_producto %}" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="{% url 'EliminarCT' Producto.N_producto %}" role="button">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'AgregarCT' %}" role="button">AGREGAR MARCA</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th style="text-align: right;">Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Marca in marcas%}
                <tr>
                    <td>{{Marca.N_marca}}</td>
                    <td style="text-align: right;"><a name="" id="" class="btn btn-info" href="" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div> 

<br>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'AgregarCT' %}" role="button">AGREGAR MODELO</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Modelos</th>
                    <th style="text-align: right;">Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Modelo in modelos%}
                <tr>
                    <td>{{Modelo.N_modelo}}</td>
                    <td style="text-align: right;">
                        <a name="" id="" class="btn btn-info" href="" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="" role="button">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'AgregarCT' %}" role="button">AGREGAR TIPO</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th style="text-align: right;">Aciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Tipo in tipos%}
                <tr>
                    <td>{{Tipo.N_tipo}}</td>
                    <td style="text-align: right;"><a name="" id="" class="btn btn-info" href="" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
