{% extends "base1.html" %}

{% block titulo %} Lista de Ventas {% endblock %}

{% block contenido %}
<br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'AgregarVenta' %}" role="button"> GERAR VENTA</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cantidad</th>
                    <th>Fecha de registro</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta.stocktienda.N_producto }}</td>
                    <td>{{ venta.marca_producto.N_marca }}</td>
                    <td>{{ venta.modelo.modelo.N_modelo }}</td>
                    <td>{{ venta.cantidad }}</td>
                    <td>{{ venta.fecha|date:"d/m/Y H:i:s" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
